body {
  background-color: var(--site-background-color); /* Cream color */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {
  padding-top: 75px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AboutUs{
    justify-content: center;
    text-align: center;
    background-color: var(--accent-colors);
    outline: 1px solid black;
    
}
.about-us-title{
    margin-top: 0px;
    font-style: italic;
}
.about-us-description{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
}
h2{
  text-align: center;
}
.team-members-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}
.team-member:hover{
  background-color: rgba(207, 169, 85, 0.2);
  outline: 5px solid #000000;
}
.team-member {
    text-align: center;
    width: 25%;
    margin: 10px;
    padding: 20px;
    background-color: white;
    outline: 1px solid rgb(97, 21, 21);
    border-radius: 5px;
    box-shadow: 5px 10px 5px rgba(97, 21, 21, 0.7);
  }
  
  .team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .team-member p {
    font-size: 16px;
    margin-bottom: 5px;
    font-style: italic;
    font-weight: 600;
  }
  
  .team-member .title {
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
  }
  
  .team-member button {
    background-color: var(--navbar-background-color);
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .team-member button:hover {
    background-color: rgb(90, 23, 23);
  }


  @media (max-width: 768px) {
    .team-member {
      width: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .team-member {
      width: 100%;
    }
  }
  
  /*------------------------------------------------------------- START OF Login -------------------------------------------- */


.Login-box{
  background: lightgray;
  padding: 30px 120px;
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}
.Login-box a{
  text-decoration: none;
}
.logo-icons{
  width: 190px;
  margin-bottom: 5px;
}
.Login-box h2{
  margin-bottom: 20px;
}

.Login-box button img{
  width: 18px;
  margin-right: 10px;
}
.Login-box button{
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #999;
  font-weight: 500;
  cursor: pointer;
}
.Login-box hr{
  border: 0;
  height: 1px;
  background: #c2c2c2;
  margin: 5px;
}
.Login-box span{
  display: block;
  width: 40px;
  margin: auto;
  background: lightgray;
  font-size: 18px;
  margin-top: -16px;
}

.Login-box input{
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #999;
  border-radius: 5px;
  outline: 0;
  box-sizing: border-box;
  margin: 10px 0;
  background: transparent;
}
::placeholder{
  font-weight: 500;
  color: black;
}
.Login-box form button{
  background: black;
  color: #fff;
  border: 0;
  margin-bottom: 15px;
}
.Login-box p{
  text-align: left;
  font-size: 18px;
  color: #555;
  margin: 40px 0 50px;
}

.Login-box p #signup-link{
  text-decoration: none;
  color: #359cf0;
}
  /*------------------------------------------------------------- START OF signup -------------------------------------------- */

  